Source: postgresql-9.4-pg-bigm
Section: database
Priority: extra
Maintainer: OTSUKA Kenji <otsuka.knj@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), postgresql-server-dev-9.4
Standards-Version: 3.8.4
Homepage: http://pgbigm.sourceforge.jp/
#Vcs-Git: git://git.debian.org/collab-maint/postgresql-9.4-pg-bigm.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/postgresql-9.4-pg-bigm.git;a=summary

Package: postgresql-9.4-pg-bigm
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, postgresql-9.4
Description: 2-gram full text search for PostgreSQL
 The pg_bigm module provides full text search capability in PostgreSQL.
 This module allows a user to create 2-gram (bigram) index for faster full text search.
